body {
    font-family: sans-serif;
    margin:0; 
    padding: 0;
    background: #383636;
}

.app-header {
    height: 80px;
    margin-top: 20px;
}
.app-header .app-header--title {
    font-size: 32px;
    color: azure;
    text-align: center;
}

/* general */
.container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* box label */
/* .fix_label {
    text-align: center;
    font-size: 20px;
    margin: 0 auto;
    padding: 10px;
  } */
.container_options {
    border-radius: 15px;
    background-color: #292926;
    margin: 20px;
    padding: 15px;
    box-shadow: 4px 4px 4px 4px rgb(87, 85, 85);
    width: 90%;
    color: aliceblue;
    
  }
#radioitems{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

}

/* box figure */
#example-graph-1{
    max-width: 90%;
}
.container_fig{
    padding: 50px;
}